.createTask{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -1.69rem;
    gap: 0.5rem;
}

.createTask input{
    background-color: var(--gray-500);
    width: 40rem;
    height: 3.375rem;
    border-radius: 8px;
    padding: 1rem;
    border: 1px solid var(--gray-700);
    font-size: 1rem;
    color: var(--gray-300);
}

.createTask button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--blue-dark);
    padding: 1rem;
    color: var(--gray-100);
    font-size: 0.875rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
}

.createTask button:hover{
    background-color: var(--blue);
}